# Project place file
/plugin.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Dependencies
roblox_packages/

# Sourcemap (should auto generate)
sourcemap.json

# Built plugin artifacts
*.rbxm
*.rbxmx
